@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: TiltNeon;
	src: url("/fonts/TiltNeon-Regular.ttf");
}

* {
	font-family: TiltNeon;
}

::-webkit-scrollbar{
	width: 2px;
	height: 2px;
}

::-webkit-scrollbar-thumb{
	width: 2px;
	background-color: #f8f8f8;
	height: 2px;
}

html,
body,
:root {
	height: 100%;
}

#formSelect  *{
	background-color: #0F0021;
	border-bottom: 2px solid white;
}

.gradient_texts {
	background: linear-gradient(42.75deg, #FF00C7 33.71%, #AD00FF 73.08%), #FFFFFF;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}